html {
	background:#FAFAFA;
}
#participate {
	width: 100px;
	margin: 70px auto 0;
	text-align:center;
	padding:30px;
}
#loggin {
	display:none;
	width: 200px;
	margin: 70px auto 0;
	padding:2px;
}
#loggin > div {
	text-align:center;
}
.blurOutline{
	-moz-box-shadow: 1px 4px 6px 6px rgba(225,225,225,0.5);
	-webkit-box-shadow: 1px 4px 6px 6px rgba(225,225,225,0.5);
	box-shadow: 1px 4px 6px 6px rgba(225,225,225,0.5);	
	border-radius:4px;
}
#spawn{
	display:none;
	float:right;
	padding:2px;
}
#spawn > * {
	display:block;
	width:86px;
	font-size:10px;
}
#chatwrap {
	display:none;
	position:fixed;
	top:10px;
	left:10px;
	bottom:10px;
	width:300px;
}
#chat{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
}
#chatter{
	position:absolute;
	top:2px;
	bottom:24px;
	left:2px;
	right:2px;
	background:rgba(245,245,245,0.5);
	overflow-y:auto;
	word-wrap: break-word;
}
#chatsubmit {
	position:absolute;
	right:2px;
	bottom:2px;
	width:60px;
}
#chatinput {
	position:absolute;
	left:2px;
	bottom:2px;
	right:64px;
}
