#nodedefs {
	display:none;
}

.node {
	padding:10px;
	min-height:40px;
	width:200px;
	text-align:center;
	font-size:12px;
	display:inline-block;
	border:1px solid #444;
	-moz-box-shadow: 0px 0px 10px 10px rgba(200,200,200,0.5);
	-webkit-box-shadow: 0px 0px 10px 10px rgba(200,200,200,0.5);
	box-shadow: 0px 0px 10px 10px rgba(200,200,200,0.5);	
	border-radius:4px;
}

/*Oscillator node styles*/
.node .oscillator {
	text-align:left;
}
.node .oscillator > div {
	padding:4px;
}
.node .oscillator .control,
.node .oscillator .frequency,
.node .oscillator .type {
	display:block;
	margin: 0 auto;
	width:100px;
} 
.node .oscillator .frequency {
	width:100px;
	display:block;
}
.node .oscillator .control .detune {
	text-align:center;
	margin-left:4px;
	margin-right:4px;
	border: 1px solid #DDD;
	display:inline-block;
	width:20px;
}
/*Oscillator style end*/